input.inputBox{
   font-size: 15px;
   padding: 5px 8px 4px 8px;
   border-radius: 3px;
   border: 1px solid gray;
}

.calendarWrap{
  padding-top: 20px;
  padding-left: 150px;
  display: inline-block;
  position: relative;
}

.calendarElement{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 40px;
  border: 1px solid gray;
  z-index: 999;
}